{% extends "base.html.twig" %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/bootstrap-datetimepicker.min.css') }}">


    <div class="container">
        <div class="row">

            <p>Voici vos reservations</p>

            <table>
                <tr>
                    <th>Voiture</th>
                    <th>Etat de la reservation</th>
                    <th>Station de depart</th>
                    <th>Station d'arriver</th>
                    <th>Debut de la reservation</th>
                    <th>Fin de la reservation</th>
                    <th></th>
                </tr>




            {% for maReservation in mesReservations %}

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <div class="caption">

                            <table>


                                <tr>
                                    <td>{{ maReservation.nomvoiture }}</td>
                                    <td>{{ maReservation.etatreservation }}</td>
                                    <td>{{ maReservation.nomstationp }}</td>
                                    <td>{{ maReservation.nomstationa }}</td>
                                    <td>{{ maReservation.datedebutreservation }}</td>
                                    <td>{{ maReservation.datefinreservation }}</td>

                                    {% if maReservation.etatreservation =='en attente' %}

                                        <td><a class="btn btn-primary" href="{{ path("client_autopart_default_annuler") }}/{{ maReservation.idreservation }}" role="button">Annuler</a></td>

                                    {% elseif maReservation.etatreservation =='cloturee' and maReservation.idetatdeslieux==null %}
                                        <td><a class="btn btn-primary" href="{{ path("client_autopart_default_etatdeslieux") }}/{{ maReservation.idreservation }}" role="button">Etat des lieux</a></td>

                                    {% endif %}


                                </tr>

                            </table>


                            <h4><a href="#"></a>
                            </h4>
                        </div>

                    </div>
                </div>

            {% endfor %}
            </table>

        </div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}