{% extends "base.html.twig" %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('bundles/bootstrap-datetimepicker.min.css') }}">


    <div class="container">
        <div class="row">

            <p>Spécifiez les changements de la voiture:</p>
            <ul TYPE="square">
                <li>Etat de la carosserie</li>
                <li>Etat des sièges</li>
                <li>Etat de l'habitacles</li>
                <li>Etat des phares</li>
                <li>Etat des fenêtres</li>
                <li>Etat des rétroviseurs</li>
                <li>Etat des pneus</li>
                <li>Autre détails à signaler</li>
            </ul>





            {% for maReservation in mesReservations %}

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <div class="caption">


                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    {{ form_widget(form.etatDesLieux, {'attr': {'class': 'form-control','name':'depart','placeholder':'Spécifiez ici','cols': '50','rows':'25'}}) }}
                                </div class="form-group">

                                <div class="form-group">
                                    {{ form_widget(form.submit, { 'label': 'Valider' ,'attr': {'class': 'form-btn btn-info'}  }) }}
                                </div class="form-group">

                            {{ form_end(form) }}


                        </div>

                    </div>
                </div>

                {% endfor %}
        </div>
    </div>


{% endblock %}

{% block js %}


{% endblock %}