{% extends "base.html.twig" %}


{% block body %}
 <!-- Navigation -->




    <div class="col-md-3">
     <p class="lead">Catégorie de véhicule<p>
     <div class="list-group">
         {% for uneCateg in lesCategs %}
          <a href="{{ path("base_autopart_default_cataloguebycateg") }}/{{ uneCateg.cat }}" class="list-group-item">{{ uneCateg.lib }}</a>
         {% endfor %}
     </div>
    </div>
    <div class="row">

        {% for maVoiture in mesVoitures %}

         <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
           <img src="http://placehold.it/320x150" alt="">
           <div class="caption">
            <h4 class="pull-right">{{ maVoiture.idVoiture }}</h4>
            <h4><a href="#">{{ maVoiture.nomVoiture }}</a>
            </h4>
            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
           </div>
           <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
             <span class="glyphicon glyphicon-star"></span>
             <span class="glyphicon glyphicon-star"></span>
             <span class="glyphicon glyphicon-star"></span>
             <span class="glyphicon glyphicon-star"></span>
             <span class="glyphicon glyphicon-star"></span>
            </p>
           </div>
          </div>
         </div>

        {% endfor %}

    </div>
   </div>
 </div>


{% endblock %}

{% block js %}
 <script>
     $( function() {
         $( "#datepicker" ).datepicker();
     } );
 </script>
{% endblock %}